@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 44, 24, 16;
  --background-start-rgb: 250, 250, 245;
  --background-end-rgb: 250, 250, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}